<div class="container">
<div class="row">
  <div class="col-sm-12">
    <div class="navbar-header">
      <img src="./app/images/wtwlogo.png">
    </div>
  </div>
  <div class="col-sm-12">
  <hr size="2">
  </div>
  <div class="col-sm-3">
    <navbar></navbar>
  </div>
  <div class="col-sm-9">
    <div class="row">
    <app-carousel></app-carousel>
    </div>
    <div class="row">
    <news-carousel></news-carousel>
    </div>
  </div>
  <div class="col-sm-12">
      <site-footer></site-footer>
  </div>
</div>
</div>