<div class="carousel slide" id="newsCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails carousel-ul">
                        <li class="col-sm-6">
    						<div class="fff">
								<div class="thumbnail">
									<div class="caption">
									<h4>eGlobal upddate goes here</h4>
									<p>this is eGlobal update coming from angular service.</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-6">
							<div class="fff">
								<div class="thumbnail">
									<div class="caption">
									<h4>Other update</h4>
									<p>this is any other update coming from angular service.</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
								</div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
              <div class="item">
                    <ul class="thumbnails carousel-ul">
                        <li class="col-sm-6">
    						<div class="fff">
								<div class="thumbnail">
									<div class="caption">
									<h4>eGlobal upddate goes here</h4>
									<p>this is eGlobal update coming from angular service.</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-6">
							<div class="fff">
								<div class="thumbnail">
									<div class="caption">
									<h4>Other update</h4>
									<p>this is any other update coming from angular service.</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
								</div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
        </div>
        
       
	   <nav>
			<ul class="control-box pager">
				<li><a data-slide="prev" href="#newsCarousel" class="">
					<i class="glyphicon glyphicon-chevron-left"></i>
					</a></li>
				<li><a data-slide="next" href="#newsCarousel" class="">
					<i class="glyphicon glyphicon-chevron-right"></i></a></li>
			</ul>
		</nav>
	   <!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->